{% assign section_data = article.metafields.custom.custom_section_data %}

{% if section_data != blank %}
  <div class="article-custom-section">
    {{section_data | metafield_tag}}
  </div>
{% endif %}


