<div class="tw-bg-cream tw-flex tw-flex-col tw-py-11">
  <span class="tw-self-stretch tw-flex tw-w-full tw-flex-col tw-mt-7 tw-px-20 max-md:max-w-full max-md:px-5">
    <div class="tw-self-stretch tw-flex tw-justify-between tw-gap-5 tw-mx-4 tw-items-start max-md:max-w-full max-md:flex-wrap max-md:mr-2.5">
      <span class="tw-flex tw-flex-col tw-items-stretch tw-mt-5 max-md:max-w-full">
        <div class="tw-text-nero tw-text-5xl tw-font-osc tw-uppercase max-md:max-w-full max-md:text-4xl">
          H1 Open sans condensed extrabold 45pt
        </div>
        <div class="tw-text-nero tw-text-4xl tw-font-osc tw-uppercase tw-mt-14 max-md:max-w-full max-md:mt-10">
          H2 Open sans condensed extrabold 35pt
        </div>
        <div class="tw-text-nero tw-text-2xl tw-font-osc tw-uppercase tw-mt-14 max-md:max-w-full max-md:mt-10">
          H3 Open sans condensed extrabold 25pt
        </div>
      </span>
      <span class="tw-self-stretch tw-flex tw-flex-col">
        <span class="tw-text-white tw-text-center tw-text-sm tw-font-os tw-font-bold tw-bg-stone-900 tw-self-stretch tw-justify-center tw-items-stretch tw-px-12 tw-py-4 tw-rounded-md max-md:px-5">
          Shop Now
        </span>
        <div class="tw-text-black tw-text-sm tw-font-os tw-capitalize tw-self-center tw-whitespace-nowrap tw-mt-3.5">
          Primary Button
        </div>
        <span class="tw-text-nero tw-text-center tw-font-os tw-text-sm tw-font-bold tw-border tw-self-stretch tw-justify-center tw-items-stretch tw-mt-8 tw-px-12 tw-py-4 tw-rounded-md tw-border-solid tw-border-stone-900 max-md:px-5">
          Shop Now
        </span>
        <div class="tw-text-black tw-text-sm tw-font-os tw-capitalize tw-self-stretch tw-whitespace-nowrap tw-mt-4">
          Primary hover - no fill
        </div>
        <div class="tw-self-stretch tw-flex tw-justify-between tw-gap-5 tw-mt-12 tw-pr-8 tw-items-start max-md:mt-10 max-md:pr-5">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/7fc57650c24b126771dc03da8e1b4b28e3429279b8be5c14796ea5f452675b8e?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
            class="tw-aspect-square tw-object-contain tw-object-center tw-w-[38px] tw-overflow-hidden tw-shrink-0 tw-max-w-full"
          >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/72dbb160d66cc7734277345dc486e07b78acb60308e50cb7ead0c55bad7bf327?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
            class="tw-aspect-square tw-object-contain tw-object-center tw-w-[38px] tw-overflow-hidden tw-shrink-0 tw-max-w-full"
          >
        </div>
      </span>
    </div>
    <div class="tw-self-stretch tw-flex tw-justify-between tw-gap-5 tw-mx-5 tw-items-start max-md:max-w-full max-md:flex-wrap max-md:mr-2.5">
      <span class="tw-flex tw-flex-col tw-items-stretch tw-mt-4">
        <div class="tw-text-nero tw-font-os tw-text-base tw-leading-6 tw-capitalize tw-whitespace-nowrap">
          Body Text Open sans regular 16pt
        </div>
        <div class="tw-text-nero tw-font-os tw-text-base tw-font-bold tw-leading-6 tw-capitalize tw-whitespace-nowrap tw-mt-5">
          Body Text Bold Open sans Bold 16pt
        </div>
      </span>
      <span class="tw-flex tw-justify-between tw-gap-5 tw-items-start">
        <div class="tw-text-black tw-text-center tw-text-sm tw-capitalize">Carousel arrow</div>
        <div class="tw-text-black tw-text-center tw-text-sm tw-capitalize">Carousel Hover</div>
      </span>
    </div>
    <div class="tw-self-stretch tw-mt-4 tw-mx-5 tw-max-md:max-w-full tw-max-md:mr-2.5">
      <div class="tw-gap-5 tw-flex tw-max-md:flex-col tw-max-md:items-stretch tw-max-md:gap-0">
        <div class="tw-flex tw-flex-col tw-items-stretch tw-w-[70%] tw-max-md:w-full tw-max-md:ml-0">
          <div class="tw-text-caramel tw-font-script tw-text-4xl tw-mt-16 tw-max-md:max-w-full tw-max-md:mt-10">
            Eyebrow Large - Eds Market Main Script 35pt
          </div>
        </div>
        <div class="tw-flex tw-flex-col tw-items-stretch tw-w-[30%] tw-ml-5 tw-max-md:w-full tw-max-md:ml-0">
          <span class="tw-flex tw-items-start tw-justify-between tw-gap-5 tw-max-md:mt-10">
            <div class="tw-text-black tw-text-sm tw-font-os tw-capitalize tw-self-start">Tabs:</div>
            <span class="tw-flex tw-grow tw-basis-[0%] tw-flex-col tw-items-stretch tw-self-start">
              <div class="tw-text-nero tw-text-base tw-font-os tw-font-bold tw-capitalize tw-whitespace-nowrap">
                Thins
              </div>
              <div class="tw-bg-orange-400 tw-shrink-0 tw-h-0.5 tw-mt-1.5"></div>
            </span>
            <span class="tw-self-stretch tw-flex tw-grow tw-basis-[0%] tw-flex-col tw-items-stretch">
              <div class="tw-text-nero tw-text-base tw-font-os tw-font-bold tw-capitalize tw-whitespace-nowrap">
                Bestsellers
              </div>
              <div class="tw-text-black tw-font-os tw-text-sm tw-capitalize tw-whitespace-nowrap tw-mt-11 max-md:mt-10">
                Fancy Link:
              </div>
            </span>
            <span class="tw-flex tw-grow tw-basis-[0%] tw-flex-col tw-self-start tw-items-start">
              <div class="tw-text-nero tw-font-os tw-text-base tw-font-bold tw-capitalize tw-whitespace-nowrap tw-ml-2.5">
                Shop All
              </div>
              <div class="tw-text-nero tw-font-os tw-text-xs tw-font-bold tw-capitalize tw-self-stretch tw-whitespace-nowrap tw-mt-10">
                Shop Now
              </div>
            </span>
          </span>
        </div>
      </div>
    </div>
    <span class="tw-flex tw-items-center tw-justify-between tw-gap-5 tw-mr-11 tw-mt-2.5 tw-self-end tw-max-md:mr-2.5">
      <div class="tw-text-black tw-text-sm tw-font-os tw-capitalize tw-my-auto">Reviews:</div>
      <span class="tw-self-stretch tw-flex tw-items-stretch tw-justify-between tw-gap-2">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/714942b5cfc729a04bee8cb70a19e2c887fda68abf44e45d478279319013dcad?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
          class="tw-aspect-[4.64] tw-object-contain tw-object-center tw-w-[65px] tw-overflow-hidden tw-shrink-0 tw-max-w-full"
        >
        <div class="tw-text-nero tw-text-xs tw-font-os tw-font-bold tw-capitalize tw-grow tw-whitespace-nowrap tw-mt-1 tw-self-start">
          31 reviews
        </div>
      </span>
    </span>
  </span>
  <span class="tw-flex tw-w-[972px] tw-max-w-full tw-flex-col tw-items-stretch tw-ml-16 tw-self-start">
    <span class="tw-flex tw-items-stretch tw-justify-between tw-gap-5 tw-max-md:max-w-full tw-max-md:flex-wrap">
      <span class="tw-flex tw-flex-col tw-items-stretch tw-max-md:max-w-full">
        <div class="tw-text-nero tw-font-osc tw-text-xl tw-uppercase tw-max-md:max-w-full">
          Eyebrow - Open sans condensed extrabold 20pt
        </div>
        <div class="tw-text-nero tw-font-os tw-text-opacity-60 tw-text-xs tw-font-bold tw-uppercase tw-mt-6 tw-max-md:max-w-full">
          Product eyebrow - Open sans bold 12pt
        </div>
      </span>
      <div class="tw-text-nero tw-text-base tw-font-os tw-leading-5 tw-capitalize tw-mt-9">Dark Chocolate</div>
    </span>
    <div class="tw-text-nero tw-text-base tw-font-os tw-leading-5 tw-capitalize tw-mt-5">Dark Chocolate</div>
    <div class="tw-text-black tw-text-sm tw-font-os tw-capitalize tw-whitespace-nowrap tw-mt-7 tw-self-end">
      Menu Links Hover
    </div>
  </span>
  <div class="tw-bg-nero tw-self-stretch tw-flex tw-w-full tw-flex-col tw-items-stretch tw-mt-8 tw-py-12 tw-max-md:max-w-full">
    <div class="tw-flex tw-w-full tw-flex-col tw-mt-7 tw-pl-16 tw-pr-14 tw-items-end tw-max-md:max-w-full tw-max-md:px-5">
      <div class="tw-self-stretch tw-flex tw-justify-between tw-gap-5 tw-pr-9 tw-items-start tw-max-md:max-w-full tw-max-md:flex-wrap tw-max-md:pr-5">
        <span class="tw-flex tw-flex-col tw-items-stretch tw-max-md:max-w-full">
          <div class="tw-text-white tw-text-5xl tw-font-osc tw-uppercase tw-max-md:max-w-full tw-max-md:text-4xl">
            H1 Open sans condensed extrabold 45pt
          </div>
          <div class="tw-text-white tw-text-4xl tw-font-osc tw-uppercase tw-mt-14 tw-max-md:max-w-full tw-max-md:mt-10">
            H2 Open sans condensed extrabold 35pt
          </div>
          <div class="tw-text-white tw-text-2xl tw-font-osc tw-uppercase tw-mt-14 tw-max-md:max-w-full tw-max-md:mt-10">
            H3 Open sans condensed extrabold 25pt
          </div>
        </span>
        <span class="tw-flex tw-flex-col tw-mt-3">
          <span class="tw-text-center tw-font-os tw-text-sm tw-font-bold tw-text-cream tw-self-stretch tw-justify-center tw-items-stretch tw-px-12 tw-py-4 tw-rounded-md tw-max-md:px-5">
            Shop Now
          </span>
          <div class="tw-text-white tw-font-os tw-text-sm tw-capitalize tw-self-center tw-whitespace-nowrap tw-mt-5">
            Secondary button
          </div>
          <span class="tw-text-white tw-text-center tw-text-sm tw-font-bold tw-border tw-self-stretch tw-justify-center tw-items-stretch tw-mt-11 tw-font-os tw-px-12 tw-py-4 tw-rounded-md tw-border-solid tw-border-stone-50 tw-max-md:mt-10 tw-max-md:px-5">
            Shop Now
          </span>
          <div class="tw-text-white tw-font-os tw-text-sm tw-capitalize tw-self-stretch tw-whitespace-nowrap tw-mt-6">
            Secondary Hover - no fill
          </div>
        </span>
      </div>
      <div class="tw-self-stretch tw-flex tw-w-full tw-items-stretch tw-justify-between tw-gap-5 tw-mt-12 tw-pr-14 tw-max-md:max-w-full tw-max-md:flex-wrap tw-max-md:mt-10 tw-max-md:pr-5">
        <span class="tw-flex tw-flex-col tw-items-stretch">
          <div class="tw-text-white tw-font-os tw-text-base tw-leading-6 tw-capitalize tw-whitespace-nowrap">
            Body Text Open sans regular 16pt
          </div>
          <div class="tw-text-white tw-font-os tw-text-base tw-font-bold tw-leading-6 tw-capitalize tw-whitespace-nowrap tw-mt-5">
            Body Text Bold Open sans Bold 16pt
          </div>
        </span>
        <div class="tw-self-center tw-flex tw-items-stretch tw-justify-between tw-gap-5 tw-my-auto">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/907dc6b2244c5b932e113722ede43fa9cc94abd89b8128634b64844360c4ab9a?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
            class="tw-aspect-square tw-object-contain tw-object-center tw-w-[38px] tw-overflow-hidden tw-shrink-0 tw-max-w-full"
          >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/641d5fdcb5caad459e3c0ac75686e0f09cc42dd0f66fa5a4e6670b8228efa7e7?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
            class="tw-aspect-square tw-object-contain tw-object-center tw-w-[38px] tw-overflow-hidden tw-shrink-0 tw-max-w-full"
          >
        </div>
      </div>
      <span class="tw-flex tw-justify-between tw-gap-5 tw-mr-12 tw-mt-2.5 tw-items-start tw-max-md:mr-2.5">
        <div class="tw-text-white tw-text-center tw-text-sm tw-capitalize">Carousel arrow</div>
        <div class="tw-text-white tw-text-center tw-text-sm tw-capitalize">Carousel Hover</div>
      </span>
    </div>
    <div class="tw-self-center tw-flex tw-w-full tw-max-w-[1318px] tw-items-stretch tw-justify-between tw-gap-5 tw-mt-10 tw-mb-2.5 tw-max-md:max-w-full tw-max-md:flex-wrap tw-max-md:mt-10">
      <span class="tw-flex tw-flex-col tw-items-stretch tw-px-5 tw-max-md:max-w-full">
        <div class="tw-text-caramel tw-text-4xl tw-max-md:max-w-full tw-font-script">
          Eyebrow Large - Eds Market Main Script 35pt
        </div>
        <div class="tw-text-white tw-text-xl tw-font-osc tw-uppercase tw-mt-6 tw-max-md:max-w-full">
          Eyebrow - Open sans condensed extrabold 20pt
        </div>
        <div class="tw-text-white tw-font-os tw-text-xs tw-font-bold tw-uppercase tw-mt-10 tw-max-md:max-w-full tw-max-md:mt-10">
          Product eyebrow - Open sans bold 12pt
        </div>
      </span>
      <div class="tw-self-center tw-flex tw-items-stretch tw-justify-between tw-gap-5 tw-my-auto">
        <span class="tw-flex tw-grow tw-flex-col tw-items-stretch tw-px-5">
          <div class="tw-text-white tw-font-os tw-text-sm tw-self-center">Chocolate</div>
          <div class="tw-text-white tw-font-os tw-text-sm tw-self-center tw-mt-7">Chocolate</div>
          <div class="tw-text-white tw-font-os tw-text-sm tw-capitalize tw-whitespace-nowrap tw-mt-9">
            Footer Links hover
          </div>
        </span>
        <span class="tw-flex tw-grow tw-flex-col tw-items-stretch tw-mt-1 tw-px-5 tw-self-start">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/ddca25141ed5420b09fda97f252d2396e72244207d42493db07dd547f40a63a7?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
            class="tw-aspect-[0.43] tw-object-contain tw-object-center tw-w-1.5 tw-overflow-hidden tw-self-center tw-max-w-full"
          >
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/5a43b57541dbac10b2727ad17e01d518a20867875c83e132b1e0a4add32a87b3?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
            class="tw-aspect-[0.46] tw-object-contain tw-object-center tw-w-1.5 tw-overflow-hidden tw-self-center tw-max-w-full tw-mt-5"
          >
          <div class="tw-text-white tw-text-sm tw-capitalize tw-whitespace-nowrap tw-mt-9">Social icons hover</div>
        </span>
      </div>
    </div>
  </div>
  <div class="tw-self-stretch tw-flex tw-w-full tw-flex-col tw-items-stretch tw-mt-7 tw-px-16 max-md:max-w-full max-md:px-5">
    <div class="tw-max-md:max-w-full">
      <div class="tw-gap-5 tw-flex tw-max-md:flex-col tw-max-md:items-stretch tw-max-md:gap-0">
        <div class="tw-flex tw-flex-col tw-items-stretch tw-w-[78%] tw-max-md:w-full tw-max-md:ml-0">
          <span class="tw-flex tw-grow tw-flex-col tw-items-end tw-max-md:max-w-full tw-max-md:mt-7">
            <div class="tw-self-stretch tw-flex tw-justify-between tw-gap-5 tw-mt-7 tw-items-start tw-max-md:max-w-full tw-max-md:flex-wrap">
              <span class="tw-flex tw-flex-col tw-items-stretch tw-mt-3 tw-max-md:max-w-full">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/43855c02f6f35930f2d5ba8bb78f06160d560ab024001bd9f2928994a0b8a7d5?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
                  class="tw-aspect-[1.51] tw-object-contain tw-object-center tw-w-full tw-fill-[linear-gradient(0deg,rgba(248,231,184,0.25)_0%,rgba(248,231,184,0.25)_100%),url(<path-to-image>),lightgray_0%_0%_/_100px_100px_repeat] tw-overflow-hidden tw-max-md:max-w-full"
                >
                <div class="tw-text-black tw-text-sm tw-capitalize tw-mt-4 tw-max-md:max-w-full">
                  Background texture
                </div>
                <div class="tw-mt-24 tw-max-md:max-w-full tw-max-md:mt-10">
                  <div class="tw-gap-5 tw-flex tw-max-md:flex-col tw-max-md:items-stretch tw-max-md:gap-0">
                    <div class="tw-flex tw-flex-col tw-items-stretch tw-w-[52%] tw-max-md:w-full tw-max-md:ml-0">
                      <span class="tw-flex tw-grow tw-flex-col tw-items-center tw-max-md:mt-10">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/1cb1b042c8bfcdaf30205202c91e41839558db81799b864bedea1873b6b81522?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
                          class="tw-aspect-[3.78] tw-object-contain tw-object-center tw-w-[193px] tw-overflow-hidden"
                        >
                        <div class="tw-text-black tw-text-sm tw-capitalize tw-mt-9">Logo Static</div>
                      </span>
                    </div>
                    <div class="tw-flex tw-flex-col tw-items-stretch tw-w-[48%] tw-ml-5 tw-max-md:w-full tw-max-md:ml-0">
                      <span class="tw-flex tw-grow tw-flex-col tw-items-center tw-max-md:mt-10">
                        <img
                          loading="lazy"
                          src="https://cdn.builder.io/api/v1/image/assets/TEMP/1cb1b042c8bfcdaf30205202c91e41839558db81799b864bedea1873b6b81522?apiKey=a1416d93f4544da69535d5d8cd0e88d3&"
                          class="tw-aspect-[3.76] tw-object-contain tw-opacity-30 tw-object-center tw-w-48 tw-overflow-hidden"
                        >
                        <div class="tw-text-black tw-text-sm tw-capitalize tw-mt-9">Logo Hover</div>
                      </span>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="tw-w-[763px] tw-max-w-full tw-ml-5 tw-mt-8 tw-self-start">
      <div class="tw-gap-5 tw-flex tw-max-md:flex-col tw-max-md:items-stretch tw-max-md:gap-0">
        <div class="tw-flex tw-flex-col tw-items-stretch tw-w-[56%] tw-max-md:w-full tw-max-md:ml-0">
          <span class="tw-flex tw-flex-col tw-items-stretch tw-mt-24 tw-max-md:mt-10">
            <div class="tw-text-nero tw-text-center tw-text-4xl tw-font-osc tw-leading-9 tw-uppercase">
              Mobile h1 <br>
              Open Sans Condensed extrabold 35pt
            </div>
            <div class="tw-text-nero tw-text-center tw-text-2xl tw-font-osc tw-leading-7 tw-uppercase tw-self-center tw-max-w-[295px] tw-mt-10">
              Mobile h2 <br>
              Open Sans Condensed extrabold 25pt
            </div>
            <div class="tw-text-caramel tw-text-center tw-text-xl tw-self-center tw-whitespace-nowrap tw-mt-12 tw-max-md:mt-10">
              Large Eyebrow 20pt
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
