<div class="tw-bg-cream tw-py-11">
  <div class="tw-container tw-mx-auto">
    <h1 class="tw-text-nero tw-text-[45px] tw-font-osc tw-uppercase ">H1 Open sans condensed extrabold 45pt</h1>
    <h2 class="tw-text-nero tw-text-[35px] tw-font-osc tw-uppercase">H2 Open sans condensed extrabold 35pt</h2>
    <h3 class="tw-text-nero tw-text-[25px] tw-font-osc tw-uppercase">H3 Open sans condensed extrabold 25pt</h3>
    <p class="tw-text-nero tw-text-base tw-font-normal">Body Text Open sans regular 16pt</p>
    <p class="tw-text-nero tw-text-base tw-font-bold">Body Text Open sans regular 16pt</p>

    <button class="tw-text-white tw-text-sm tw-font-os tw-font-bold tw-bg-nero tw-py-4 tw-rounded-[5px] tw-min-w-[167px] tw-px-4 tw-border-solid tw-border tw-border-nero hover:tw-bg-transparent hover:tw-text-nero tw-transition-colors">
      Button
    </button>

    <button class="tw-text-nero tw-text-sm tw-font-os tw-font-bold tw-bg-transparent tw-py-4 tw-rounded-[5px] tw-min-w-[167px] tw-px-4 tw-border-solid tw-border tw-border-nero hover:tw-bg-nero hover:tw-text-white tw-transition-colors">
      Button Invert
    </button>
  </div>
</div>

<div class="tw-bg-nero tw-py-11">
  <div class="tw-container tw-mx-auto">
    <h1 class="tw-text-offwhite tw-text-[45px] tw-font-osc tw-uppercase">H1 Open sans condensed extrabold 45pt</h1>
    <h2 class="tw-text-offwhite tw-text-[35px] tw-font-osc tw-uppercase ">H2 Open sans condensed extrabold 35pt</h2>
    <h3 class="tw-text-offwhite tw-text-[25px] tw-font-osc tw-uppercase">H3 Open sans condensed extrabold 25pt</h3>
    <p class="tw-text-offwhite tw-text-base tw-font-normal">Body Text Open sans regular 16pt</p>

    <button class="tw-text-nero tw-text-sm tw-font-os tw-font-bold tw-bg-offwhite tw-py-4 tw-rounded-[5px] tw-min-w-[167px] tw-px-4 tw-border-solid tw-border tw-border-offwhite hover:tw-bg-transparent hover:tw-text-offwhite tw-transition-colors">
      Button
    </button>

    <button class="tw-text-offwhite tw-text-sm tw-font-os tw-font-bold tw-bg-transparent tw-py-4 tw-rounded-[5px] tw-min-w-[167px] tw-px-4 tw-border-solid tw-border tw-border-offwhite hover:tw-bg-offwhite hover:tw-text-nero tw-transition-colors">
      Button Invert
    </button>
  </div>
</div>
