<section class="page page--default tw-bg-backgroundDark">
  <div class="tw-container">
    <h1 class="tw-text-mainBlack tw-text-[35px] tw-leading-normal tw-uppercase tw-tracking-[0.263px] tw-font-osc tw-mb-5 tw-text-center">
      {{ page.title }}
    </h1>
    <div class="page__content">
      {{ page.content }}
    </div>
  </div>
</section>