<section
class="article__single tw-bg-backgroundDark">
  {% comment %} ARTICLE HERO {% endcomment %}
  {%- assign image = article.image -%}

  <section class="tw-relative tw-z-0 !tw-bg-no-repeat !tw-bg-cover !tw-bg-center" style="background-image:url({{ image | image_url: width: image.width }});">
    <div class="wrapper">
      <div class="tw-h-[500px] md:tw-h-[600px] lg:tw-h-[654px] tw-flex tw-items-center lg:tw-text-left tw-text-center lg:tw-items-start tw-justify-center tw-flex-col"></div>
    </div>
  </section>

  <div class="tw-container tw-mt-9">
    {% comment %} ARTICLE CONTENT {% endcomment %}
    <div class="inner">
      <div class="blog-header">
        <span class="article__date eyebrow">
          {{ article.published_at | date: '%B %e, %Y' }}
        </span>
        <h1 class="tw-text-mainBlack2 tw-text-[35px] tw-font-bold tw-font-osc tw-uppercase tw-text-left ">{{ article.title }}</h1>
      </div>
      <div class="article__content">
        {{ article.content }}
      </div>
    </div>

  </div>
</section>
{% comment %} ARTICLE RELATED {% endcomment %}
<section class="article__related tw-bg-backgroundDark">
  <div class="tw-container">
    <h2 class="tw-text-center tw-text-mainBlack2 tw-text-[25px] tw-font-bold tw-font-osc tw-uppercase tw-leading-[1.13]">
      KEEP EXPLORING
    </h2>
    <div class="related__wrap d-flex">
      {% comment %} If metafields for related articles selected {% endcomment %}
      {% if article.metafields.sleepless.related_article_1 != blank or article.metafields.sleepless.related_article_2 != blank or article.metafields.sleepless.related_article_2 != blank
      %}
        {% if article.metafields.sleepless.related_article_1 != blank %}
          {% assign article_one = articles[article.metafields.sleepless.related_article_1] %}
          {% render 'default-article'
            , data: article_one %}
        {% endif %}

        {% if article.metafields.sleepless.related_article_2 != blank %}
          {% assign article_two = articles[article.metafields.sleepless.related_article_2] %}
          {% render 'default-article'
            , data: article_two %}
        {% endif %}

        {% if article.metafields.sleepless.related_article_3 != blank %}
          {% assign article_three = articles[article.metafields.sleepless.related_article_3] %}
          {% render 'default-article'
            , data: article_three %}
        {% endif %}

      {% else %}
        {% comment %} Otherwise just show latest 3 articles {% endcomment %}
        {% for article in blog.articles limit: 3 %}
          {% render 'default-article'
            , data: article %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
<style>
  .article__single .article__content, .blog-header {
    max-width: 950px;
    margin: auto;
  }
  .blog-header {
    border-bottom: 1px solid #A79E8999;
    padding-bottom: 30px;
    margint-bottom: 10px;
  }
  .article__content p {
    line-height: 28px;
    color: #1A1B1B;
    padding-top: 20px;
  }
  .article__content h1, .article__content h2, .article__content h3, .article__content h4, .article__content h5, .article__content h6 {
    color: #1E1C1C;
    font-weight: 700;
    letter-spacing: 0.413px;
    text-transform: uppercase;
    padding-top: 50px;
  }
  .article__content h1 {
    font-size: 55px;
  }
  .article__content h2 {
    font-size: 35px;
  }
  .article__content h3 {
    font-size: 25px;
  }
  .article__content h4 {
    font-size: 16px;
  }
  .article__content h5 {
    font-size: 16px;
    font-style: italic;
  }
  .article__content h6 {
    font-size: 16px;
    font-weight: 400;
  }
</style>
  